<script  id='user-view-template' type='text/template'>
  <div class=container>
    <% if (user) { %>
    <h4>Welcome to the profile page</h4>
    <p>You are viewing the profile of <%= user.get('userName') %> </p>
    <% console.log(user) %>
    <% console.log(user.attributes.firstName) %>
    <hr />
    <h1><%=user.get('firstName')  %> <%=user.get('lastName')  %> </h1>
    <h4><%=user.get('age')   %> </h4>
    <h4><%=user.get('email')   %> </h4>
    <h4><%=user.get('id')   %> </h4>
    <button type= "button" class="btn btn-info edit-user-button ">Edit</button>

<!--
//    <% } else { %>
    -->
    <p class="bg-warning"> that user does not exist </p>
    <% };  %>
    <hr />
    <div class="btn-group">
    <button type= "button" class="btn view-users ">View Users</button>
    <button type= "button" class="btn new-user ">Create User</button>
    </div>
  </div>
</script>
